@layer component {
    :root {
        --avatar-width: var(--space-6);
        --avatar-height: var(--space-6);
    }

    .avatar {
        width: var(--avatar-width);
        height: var(--avatar-height);
    }
}
