@layer base {
    .button {
        --button-background: var(--background-color);
        --button-color: var(--color-1);
        --button-padding-block: var(--space-4);
        --button-padding-inline: var(--space-4);
        --button-border-block: 1px solid var(--background-color-3);
        --button-border-inline: 1px solid var(--background-color-3);
        --button-border-radius: 5px;
        --button-box-shadow: none;
        --button-gap: calc(4 * var(--space));

        --button-hover-background: var(--background-color-2);
        --button-hover-opacity: 1;
        --button-hover-color: inherit;

        --button-text-decoration: none;
        --button-text-overflow: inherit;
        --button-font-size: var(--font-size-base);
        --button-font-weight: var(--font-normal);
        --button-line-height: 1;

        display: inline-flex;
        width: max-content;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        cursor: pointer;

        color: var(--button-color);
        text-decoration: var(--button-text-decoration);
        text-overflow: var(--button-text-overflow);
        font-size: var(--button-font-size);
        font-weight: var(--button-font-weight);
        line-height: var(--button-line-height);

        background: var(--button-background);
        padding-block: var(--button-padding-block);
        padding-inline: var(--button-padding-inline);
        gap: var(--button-gap);
        border-block: var(--button-border-block);
        border-inline: var(--button-border-inline);
        border-radius: var(--button-border-radius);
        box-shadow: var(--button-box-shadow);
    }

    .button:hover {
        color: var(--button-hover-color);
        background: var(--button-hover-background);
        opacity: var(--button-hover-opacity);
    }

    .button__section {
        display: flex;
    }
}
