@layer base {
    .button {
        --button-background: var(--color);
        --button-color: var(--background-color);
        --button-padding-block: calc(3 * var(--space));
        --button-padding-inline: calc(3 * var(--space));
        --button-border-block: none;
        --button-border-inline: none;
        --button-border-radius: 0;
        --button-box-shadow: none;
        --button-gap: calc(4 * var(--space));

        --button-hover-background: var(--color-muted);

        display: inline-flex;
        align-items: center;
        width: fit-content;
        flex-direction: row;
        cursor: pointer;
        text-decoration: none; /* Resets anchor element text decoration */
        font-size: var(--font-size); /* Resets button element font size */

        background: var(--button-background);
        color: var(--button-color);
        padding-block: var(--button-padding-block);
        padding-inline: var(--button-padding-inline);
        gap: var(--button-gap);
        border-block: var(--button-border-block);
        border-inline: var(--button-border-inline);
        border-radius: var(--button-border-radius);
        box-shadow: var(--button-box-shadow);
    }

    .button:hover {
        color: var(--button-color);
        background: var(--button-hover-background);
    }

    .button__section {
        --button-section-gap: calc(2 * var(--space));

        display: flex;
        flex-direction: column;
        gap: var(--button-section-gap);
    }
}
