@layer base {
    .list {
        --list-background: var(--background-color-muted);
        --list-padding-block: 0;
        --list-padding-inline: 0;
        --list-margin-block: 0;
        --list-margin-inline: 0;
        --list-border-radius: 0;
        --list-border-block: none;
        --list-border-inline: none;

        --list-color: inherit;
        --list-text-decoration: inherit;
        --list-text-overflow: inherit;
        --list-font-size: var(--font-size-base);
        --list-font-weight: var(--font-normal);
        --list-line-height: 1;

        --list-item-color: var(--color);
        --list-item-background: transparent;
        --list-item-hover-color: inherit;
        --list-item-hover-background: transparent;

        --list-item-padding-block: var(--space-3);
        --list-item-padding-inline: var(--space-3);
        --list-item-margin-block: 0;
        --list-item-margin-inline: 0;
        --list-item-border-radius: 0;
        --list-item-border-block: none;
        --list-item-border-inline: none;

        background-color: var(--list-background);
        padding-block: var(--list-padding-block);
        padding-inline: var(--list-padding-inline);
        margin-block: var(--list-margin-block);
        margin-inline: var(--list-margin-inline);
        border-radius: var(--list-border-radius);
        border-block: var(--list-border-block);
        border-inline: var(--list-border-inline);

        color: var(--list-color);
        text-decoration: var(--list-text-decoration);
        text-overflow: var(--list-text-overflow);
        font-size: var(--list-font-size);
        font-weight: var(--list-font-weight);
        line-height: var(--list-line-height);
    }

    .list__item {
        display: grid;
        color: var(--list-item-color);
        background-color: var(--list-item-background);
        padding-block: var(--list-item-padding-block);
        padding-inline: var(--list-item-padding-inline);
        margin-block: var(--list-item-margin-block);
        margin-inline: var(--list-item-margin-inline);
        border-radius: var(--list-item-border-radius);
        border-block: var(--list-item-border-block);
        border-inline: var(--list-item-border-inline);
    }

    .list__section {
        display: flex;
    }

    .list__item:hover {
        color: var(--list-item-hover-color);
        background-color: var(--list-item-hover-background);
    }
}
