@layer base {
    .notice {
        --notice-gap: calc(4 * var(--space));
        --notice-color: var(--color);
        --notice-background: var(--background-color-muted);
        --notice-padding-inline: var(--space-4);
        --notice-padding-block: var(--space-4);
        --notice-margin-inline: 0;
        --notice-margin-block: 0;
        --notice-border-radius: 0;
        --notice-border-inline: none;
        --notice-border-block: none;
        --notice-box-shadow: none;

        --notice-color: var(--color);
        --notice-text-decoration: none;
        --notice-text-overflow: clip;
        --notice-font-size: var(--font-size-base);
        --notice-font-weight: var(--font-normal);
        --notice-line-height: 1.5;
        --notice-margin-inline: 0;
        --notice-margin-block: 0;

        display: flex;
        flex-direction: row;
        align-items: center;

        gap: var(--notice-gap);
        color: var(--notice-color);
        background: var(--notice-background);
        padding-inline: var(--notice-padding-inline);
        padding-block: var(--notice-padding-block);

        margin-inline: var(--notice-margin-inline);
        margin-block: var(--notice-margin-block);

        border-radius: var(--notice-border-radius);
        border-inline: var(--notice-border-inline);
        border-block: var(--notice_border-block);

        box-shadow: var(--notice-box-shadow);

        color: var(--notice-color);
        text-decoration: var(--notice-text-decoration);
        text-overflow: var(--notice-text-overflow);
        font-size: var(--notice-font-size);
        font-weight: var(--notice-font-weight);
        line-height: var(--notice-line-height);
        margin-inline: var(--notice-margin-inline);
        margin-block: var(--notice-margin-block);
    }

    .notice__section {
        --notice-section-gap: 0.5rem;

        display: flex;
        flex-direction: column;
        gap: var(--notice-section-gap);
    }
}
