@layer base {
    .notice {
        --notice-gap: calc(4 * var(--space));
        --notice-color: var(--color);
        --notice-background: var(--background-color-muted);
        --notice-padding-inline: var(--space-4);
        --notice-padding-block: var(--space-4);
        --notice-margin-inline: 0;
        --notice-margin-block: 0;
        --notice-border-radius: 0;
        --notice-border-inline: none;
        --notice-border-block: none;
        --notice-box-shadow: none;

        display: flex;
        flex-direction: row;
        align-items: center;

        gap: var(--notice-gap);
        color: var(--notice-color);
        background: var(--notice-background);
        padding-inline: var(--notice-padding-inline);
        padding-block: var(--notice-padding-block);

        margin-inline: var(--notice-margin-inline);
        margin-block: var(--notice-margin-block);

        border-radius: var(--notice-border-radius);
        border-inline: var(--notice-border-inline);
        border-block: var(--notice_border-block);

        box-shadow: var(--notice-box-shadow);
    }

    .notice__title {
        --notice-title-font-weight: var(--font-bold, 700);
        --notice-title-font-size: var(--font-size, 1rem);
        --notice-title-color: inherit;
        --notice-title-margin: 0;
        --notice-title-line-height: 1.2;

        font-weight: var(--notice-title-font-weight);
        font-size: var(--notice-title-font-size);
        color: var(--notice-title-color);
        margin: var(--notice-title-margin);
        line-height: var(--notice-title-line-height);
    }

    .notice__description {
        --notice-description-font-weight: 400;
        --notice-description-font-size: var(--font-size-base);
        --notice-description-color: inherit;
        --notice-description-margin: 0;
        --notice-description-line-height: 1.5;

        font-weight: var(--notice-description-font-weight);
        font-size: var(--notice-description-font-size);
        color: var(--notice-description-color);
        margin: var(--notice-description-margin);
        line-height: var(--notice-description-line-height);
    }

    .notice__section {
        --notice-section-gap: 0.5rem;

        display: flex;
        flex-direction: column;
        gap: var(--notice-section-gap);
    }
}
