@layer component {
    .table {
        display: grid;
        width: max-content;
    }

    .table__section,
    .table__row {
        display: contents;
    }

    .table__cell {
        display: flex;
        overflow: hidden;
        align-items: center;

        border-inline-start: var(--table-cell-border-inline-start, none);
        border-inline-end: var(--table-cell-border-inline-end, none);
        border-block-start: var(--table-cell-border-block-start, none);
        border-block-end: var(--table-cell-border-block-end, none);
        padding-inline: var(--table-cell-padding-inline, 0);
        padding-block: var(--table-cell-padding-block, 0);
        background: var(--table-cell-background, transparent);
        color: var(--table-cell-color, var(--color-1));
        text-decoration: var(--table-cell-text-decoration, none);
        text-overflow: var(--table-cell-text-overflow, ellipsis);
        font-size: var(--table-cell-font-size, var(--font-size-base));
        font-weight: var(--table-cell-font-weight, var(--font-normal));
        line-height: var(--table-cell-line-height, 1);
    }
}
