@layer base {
    .trigger {
        display: inline-flex;
        width: max-content;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        cursor: pointer;

        color: var(--trigger-color, var(--color-1));
        text-decoration: var(--trigger-text-decoration, none);
        text-overflow: var(--trigger-text-overflow, inherit);
        font-size: var(--trigger-font-size, var(--font-size-base));
        font-weight: var(--trigger-font-weight, var(--font-normal));
        line-height: var(--trigger-line-height, 1);

        background: var(--trigger-background, var(--background-color));
        padding-block: var(--trigger-padding-block, var(--space-4));
        padding-inline: var(--trigger-padding-inline, var(--space-4));
        gap: var(--trigger-gap, calc(4 * var(--space)));
        border-block: var(--trigger-border-block, 1px solid var(--background-color-3));
        border-inline: var(--trigger-border-inline, 1px solid var(--background-color-3));
        border-radius: var(--trigger-border-radius, 5px);
        box-shadow: var(--trigger-box-shadow, none);
    }

    .trigger:hover {
        color: var(--trigger-hover-color, inherit);
        background: var(--trigger-hover-background, var(--background-color-2));
        opacity: var(--trigger-hover-opacity, 1);
    }

    .trigger__section {
        display: flex;
    }
}
