@layer reset {
    *,
    ::before,
    ::after {
        box-sizing: border-box;
    }

    body {
        margin: 0;
    }

    button,
    input,
    optgroup,
    select,
    textarea {
        font: inherit;
        color: inherit;
    }

    img,
    picture,
    svg,
    canvas {
        display: block;
        max-inline-size: 100%;
        height: auto;
    }

    a {
        color: inherit;
        text-decoration: inherit;
        -webkit-text-decoration: inherit;
    }
}