:root {
    --shj-syn-cmnt: #6e7781;
    --shj-syn-deleted: #cf222e;
    --shj-syn-err: #cf222e;
    --shj-syn-kwd: #cf222e;
    --shj-syn-class: #953800;
    --shj-syn-type: #0550ae;
    --shj-syn-oper: #0550ae;
    --shj-syn-num: #0550ae;
    --shj-syn-section: #0550ae;
    --shj-syn-var: #0550ae;
    --shj-syn-bool: #0550ae;
    --shj-syn-insert: #0a3069;
    --shj-syn-str: #0a3069;
    --shj-syn-func: #8250df;
}

[class*="shj-lang-"] {
    white-space: pre;
    color: #112;
    text-shadow: none;
    box-sizing: border-box;
    background: var(--background-color-2);
    border-radius: 10px;
    max-width: min(100%, 100vw);
    margin: 10px 0;
    padding: 30px 20px;
    font: 1rem/1.5rem Consolas, Courier New, Monaco, Andale Mono, Ubuntu Mono,
        monospace;
    overflow-x: auto;
}

.shj-syn-cmnt {
    font-style: italic;
}

.shj-syn-deleted,
.shj-syn-err,
.shj-syn-kwd {
    color: #cf222e;
}
.shj-syn-class {
    color: #953800;
}
.shj-numbers,
.shj-syn-cmnt {
    color: #6e7781;
}
.shj-syn-type,
.shj-syn-oper,
.shj-syn-num,
.shj-syn-section,
.shj-syn-var,
.shj-syn-bool {
    color: #0550ae;
}
.shj-syn-insert,
.shj-syn-str {
    color: #0a3069;
}
.shj-syn-func {
    color: #8250df;
}
