@layer page {
    .justify-start {
        justify-content: flex-start;
    }
    .justify-end {
        justify-content: flex-end;
    }
    .justify-center {
        justify-content: center;
    }
    .justify-between {
        justify-content: space-between;
    }
    .justify-around {
        justify-content: space-around;
    }
    .justify-evenly {
        justify-content: space-evenly;
    }

    .items-start {
        align-items: flex-start;
    }
    .items-end {
        align-items: flex-end;
    }
    .items-center {
        align-items: center;
    }
    .items-baseline {
        align-items: baseline;
    }
    .items-stretch {
        align-items: stretch;
    }

    .rounded {
        border-radius: 5px;
    }

    .flex-grow {
        flex-grow: 1;
    }

    .flex-row {
        flex-direction: row;
    }

    .flex-col {
        flex-direction: column;
    }

    .flex-row-reverse {
        flex-direction: row-reverse;
    }

    .flex-col-reverse {
        flex-direction: column-reverse;
    }

    .rounded {
        border-radius: 9999px;
    }

    .font-size-xs {
        font-size: var(--font-size-xs);
    }

    .font-size-s {
        font-size: var(--font-size-s);
    }

    .font-size-m {
        font-size: var(--font-size);
    }

    .font-size-l {
        font-size: var(--font-size-l);
    }

    .font-size-xl {
        font-size: var(--font-size-xl);
    }

    .font-size-2xl {
        font-size: var(--font-size-2xl);
    }

    .margin-bottom-4 {
        margin-bottom: calc(var(--space) * 4);
    }

    .gap-3 {
        gap: calc(var(--space) * 3);
    }
}
