@layer utilities {
    .rounded {
        border-radius: 5px;
    }

    .flex-grow {
        flex-grow: 1;
    }

    .font-size-xs {
        font-size: var(--font-size-xs);
    }

    .font-size-s {
        font-size: var(--font-size-s);
    }

    .font-size-m {
        font-size: var(--font-size);
    }

    .font-size-l {
        font-size: var(--font-size-l);
    }

    .font-size-xl {
        font-size: var(--font-size-xl);
    }

    .margin-bottom-4 {
        margin-bottom: calc(var(--space) * 4);
    }

    .gap-3 {
        gap: calc(var(--space) * 3);
    }
}
