@layer base {
    :root {
        --breadcrumb-separator-padding-inline: 0.5em;
        --breadcrumb-separator: "/";
    }

    .breadcrumb {
        display: flex;
        padding: unset;
        list-style: none;
    }

    .breadcrumb > .breadcrumb__item::before {
        content: var(--breadcrumb-separator);
        padding-inline: var(--breadcrumb-separator-padding-inline);
    }

    .breadcrumb > .breadcrumb__item:first-child::before {
        display: none;
    }
}
