@layer base {
    @font-face {
        font-family: InterVariable;
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url("/asset/font/InterVariable.woff2") format("woff2");
        font-feature-settings: "ss02" 1;
    }

    @font-face {
        font-family: InterVariable;
        font-style: italic;
        font-weight: 100 900;
        font-display: swap;
        src: url("/asset/font/InterVariable-Italic.woff2") format("woff2");
    }

    @font-face {
        font-family: RecursiveMonoLinearExtraBold;
        font-display: swap;
        src: url("/asset/font/RecursiveMonoLinearExtraBold.woff2")
            format("woff2");
    }

    body {
        font-family: "InterVariable", sans-serif;
        color: var(--text-color-base, initial);
    }
}
