@layer base {
    :root {
        --font-size-title-1: clamp(3rem, 2.55rem + 1.5vw, 3.75rem);
        --font-size-title-2: 2.25rem;
        --font-size-title-3: 1.75rem;
        --font-size-title-4: 1.25rem;

        --font-size-prose-base: 1rem;
        --font-size-prose-large: 1.25rem;
        --font-size-prose-small: 0.875rem;
    }
}