@layer base {
    :root {
        --space: 0.25rem;
        --space-1: calc(var(--space) * 1);
        --space-2: calc(var(--space) * 2);
        --space-3: calc(var(--space) * 3);
        --space-4: calc(var(--space) * 4);
        --space-5: calc(var(--space) * 6);
        --space-6: calc(var(--space) * 8);
        --space-7: calc(var(--space) * 12);
        --space-8: calc(var(--space) * 16);
        --space-9: calc(var(--space) * 24);
        --space-10: calc(var(--space) * 32);

        --space-prose: 1.2em;

        --measure-1: 15ch;
        --measure-2: 30ch;
        --measure-3: 45ch;
        --measure-4: 60ch;
        --measure-5: 75ch;
    }
}
