@layer base {
    :root {
        --space: 0.25rem;
        --space-1: calc(var(--space) * 1);
        --space-2: calc(var(--space) * 2);
        --space-3: calc(var(--space) * 3);
        --space-4: calc(var(--space) * 4);
        --space-5: calc(var(--space) * 6);
        --space-6: calc(var(--space) * 8);
        --space-7: calc(var(--space) * 12);
        --space-8: calc(var(--space) * 16);
        --space-9: calc(var(--space) * 24);
        --space-10: calc(var(--space) * 32);

        --background-color-1: hsl(0deg 0% 100%);
        --background-color-2: hsl(0deg, 0%, 96%);
        --background-color-3: hsl(0deg, 0%, 90%);

        --color-1: hsl(0deg 0% 10%);
        --color-2: hsl(0deg 0% 20%);
        --color-3: hsl(0deg 0% 40%);

        --background-color-inverse-1: hsl(0deg 0% 10%);
        --color-inverse-1: hsl(0deg 0% 100%);

        --font-size-xs: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
        --font-size-s: 0.875rem;
        --font-size-base: 1rem;
        --font-size-l: 1.125rem;
        --font-size-xl: 1.25rem;
        --font-size-2xl: 1.5rem;
        --font-size-3xl: 1.875rem;
        --font-size-4xl: clamp(2.25rem, 1.9432rem + 1.3636vw, 3rem);
        --font-size-5xl: clamp(3rem, 2.3864rem + 2.7273vw, 4.5rem);

        --font-thin: 100;
        --font-extralight: 200;
        --font-light: 300;
        --font-normal: 400;
        --font-medium: 500;
        --font-semibold: 600;
        --font-bold: 700;
        --font-extrabold: 800;
        --font-black: 900;

        --line-height-content: 2;
        --line-height-heading: 1.2;

        --breakpoint-sm: 40rem;
        --breakpoint-md: 48rem;
        --breakpoint-lg: 64rem;
        --breakpoint-xl: 80rem;
        --breakpoint-2xl: 96rem;

        --danger-1: hsl(354.25, 70.46%, 53.53%);
        --danger-2: hsl(354.25, 70.46%, 45.53%);
        --danger-content: hsl(0deg 0% 100%);

        --success-1: hsl(152.18, 68.75%, 31.37%);
        --success-2: hsl(152.18, 68.75%, 26.37%);
        --success-content: hsl(0deg 0% 100%);

        --info-1: hsl(190.04, 89.72%, 49.61%);
        --info-2: hsl(190.04, 89.72%, 44.61%);
        --info-content: hsl(0deg 0% 10%);

        --warning-1: hsl(45, 100%, 51.37%);
        --warning-2: hsl(45, 100%, 46.37%);
        --warning-content: hsl(0deg 0% 10%);

        --shadow-l: 0 10px 15px -3px var(--background-color-2), 0 4px 6px -4px var(--background-color-2);

        --token-cmnt: #6e7781;
        --token-deleted: #cf222e;
        --token-err: #cf222e;
        --token-kwd: #cf222e;
        --token-class: #953800;
        --token-type: #0550ae;
        --token-oper: #0550ae;
        --token-num: #0550ae;
        --token-section: #0550ae;
        --token-var: #0550ae;
        --token-bool: #0550ae;
        --token-insert: #0a3069;
        --token-str: #0a3069;
        --token-func: #8250df;
    }

    body[data-theme="dark"] {
        --color-1: hsl(0deg 0% 100%);
        --color-2: hsl(0deg, 0%, 96%);
        --color-3: hsl(0, 0%, 70%);

        --background-color-1: hsl(0deg 0% 10%);
        --background-color-2: hsl(0deg 0% 20%);
        --background-color-3: hsl(0deg 0% 30%);
        
        --token-cmnt: #8b949e;
        --token-deleted: #ff7b72;
        --token-err: #ff7b72;
        --token-kwd: #ff7b72;
        --token-class: #ffa657;
        --token-type: #79c0ff;
        --token-oper: #79c0ff;
        --token-num: #79c0ff;
        --token-section: #79c0ff;
        --token-var: #79c0ff;
        --token-bool: #79c0ff;
        --token-insert: #98c379;
        --token-str: #a5d6ff;
        --token-func: #d2a8ff;

        --shadow-l: 0 10px 15px -3px var(--background-color-2), 0 4px 6px -4px var(--background-color-2);
    }
}
