@layer variant {
    .table[data-variant="column-bordered"] {
        grid-template-columns: repeat(9, max-content);
    }

    .table__cell[data-variant^="column-bordered"] {
        border-inline-end: var(--border-width-1) solid var(--border-color);
    }

    .table__cell[data-variant^="column-bordered"]:last-child {
        border-inline-end: none;
    }
}