@layer pattern {
    .card {
        display: block;
        border: var(--border-width-1) solid var(--border-color);
        border-radius: 5px;
        background-color: var(--background);
    }

    .card__section {
        display: flex;
        flex-direction: column;
        gap: var(--space-3);
        padding: var(--space-4);
        border-block-end: var(--border-width-1) solid var(--border-color);
    }

    .card__section:last-child {
        border-block-end: none;
    }
}
