@layer pattern {
    .menu {
        display: block;
        list-style: none;
        background-color: var(--background);
        padding-block: var(--space-2);
    }

    .menu__item,
    .menu__title {
        display: flex;
        padding: var(--space-4);
        margin: 0;
        color: var(--text-color-base);
        align-items: center;
    }

    .menu__item {
        text-decoration: none;
        cursor: pointer;
        gap: var(--space-2);
    }

    .menu__item:hover {
        background-color: var(--background-muted);
    }

    .menu__title {
        font-weight: var(--font-bold);
    }
}
