@layer pattern {
    .modal {
        display: none;
        margin: 0;
        border: none;
        position: fixed;
        inset-inline-start: 0;
        inset-block-start: 0;
        height: 100%;
        width: 100%;
        background-color: color-mix(
            in hsl,
            var(--background-color-2),
            transparent 50%
        );
        max-width: none;
        max-height: none;
        overflow: auto;
        align-items: center;
        justify-content: center;
    }

    .modal::backdrop {
        display: none;
    }

    .modal[data-open],
    .modal[open] {
        display: flex;
    }

    .modal__dialog {
        display: block;
        margin: 0;
        padding: var(--space-4);
        border: 1px solid var(--background-color-2);
        border-radius: 5px;
        background-color: var(--background-color-1);
    }

    .modal__section {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: start;
        gap: var(--space-4);
    }
}
