@layer pattern {
    .notice {
        display: flex;
        padding: var(--space-4);
        background-color: var(--background);
        border: var(--border-width-1) solid var(--border-color);
        border-radius: 5px;
        max-width: var(--notice-max-width, 32rem);
        gap: var(--space-4);
        align-items: center;
    }

    .notice__section {
        display: flex;
    }

    .notice__close {
        margin-inline-start: auto;
    }
}
