@layer pattern {
    .trigger {
        display: flex;
        width: fit-content;
        padding-inline: var(--space-4);
        padding-block: var(--space-3);
        background-color: var(--background);
        border-radius: 5px;
        border: var(--border-width-1) solid var(--border-color);
        text-decoration: none;
        cursor: pointer;
        font-size: var(--font-size-base);
        color: var(--text-color-base);
    }

    .trigger:hover {
        background-color: var(--background-muted);
    }

    .trigger__section {
        display: flex;
    }
}
