@layer variant {
    :root {
        --alert-background-color: var(--background-color);
    }

    .alert {
        border: var(--border);
    }

    .alert[data-alert-variant*="callout"] {
        --alert-icon-size: 3em;
        --alert-padding: 2.3em var(--alert-padding-x) var(--alert-padding-y) var(--alert-padding-x);
        position: relative;
        box-shadow: 7px 7px 0px 0px var(--color);
        margin-top: 3em;
    }

    .alert[data-alert-variant*="callout"] .alert-icon {
        position: absolute;
        top: -1.5em;
        color: var(--color);
        background-color: var(--background-color);
        border: 1px solid #ffffff;
        border-radius: var(--border-radius);
    }

    .alert[data-alert-variant*="callout"] .alert-close {
        position: relative;
        top: -1.2em;
    }

    .alert[data-alert-variant*="success"],
    .alert[data-alert-variant*="warning"],
    .alert[data-alert-variant*="info"],
    .alert[data-alert-variant*="danger"] {
        --alert-color: #000000;
        --button-hover-background-color: #1e1e1e;
        --button-background-color: #000000;
        --button-hover-color: #ffffff;
        --button-color: #ffffff;
        border-color: #000000;
    }

    .alert[data-alert-variant*="success"] .alert-icon,
    .alert[data-alert-variant*="warning"] .alert-icon,
    .alert[data-alert-variant*="info"] .alert-icon,
    .alert[data-alert-variant*="danger"] .alert-icon{
        color: #000000;
        background-color: #ffffff;
    }

    .alert[data-alert-variant*="success"] {
        --alert-background-color: var(--success);
    }
    .alert[data-alert-variant*="warning"] {
        --alert-background-color: var(--warning);
    }
    .alert[data-alert-variant*="info"] {
        --alert-background-color: var(--info);
    }
    .alert[data-alert-variant*="danger"] {
        --alert-background-color: var(--danger);
    }
}