@layer base {
    /*
        TODO: having a file under variant folder that resides in the base
        layer is weird, think of a better way
    */

    /*
        Variable required by base:
        --background-color
        --background-color-muted
        --color
        --color-muted
    */

    :root {
        --font-size-content-m: 1rem;
        --font-size-content-xs: calc(var(--font-size-content-m) * 0.9 * 0.9);
        --font-size-content-s: calc(var(--font-size-content-m) * 0.9);
        --font-size-content-l: calc(var(--font-size-content-m) * 1.1);
        --font-size-content-xl: calc(var(--font-size-content-m) * 1.1 * 1.1);
        --font-size-content: var(--font-size-content-m);

        --font-weight-heading: bolder;

        --h6-font-size: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
        --h5-font-size: clamp(1.35rem, 1.2978rem + 0.2609vw, 1.5rem);
        --h4-font-size: clamp(1.62rem, 1.5574rem + 0.313vw, 1.8rem);
        --h3-font-size: clamp(1.944rem, 1.8689rem + 0.3757vw, 2.16rem);
        --h2-font-size: clamp(2.3328rem, 2.2426rem + 0.4508vw, 2.592rem);
        --h1-font-size: clamp(2.7994rem, 2.6912rem + 0.5409vw, 3.1104rem);

        --line-height: 1.5;

        --color: #000000;
        --color-muted: #1e1e1e;
        --background-color: #ffffff;
        --background-color-muted: #e6e6e6;

        /* --background-color: #000000;
        --background-color-muted: #1e1e1e;
        --color: #ffffff;
        --color-muted: #e6e6e6; */

        --code-color: #ef4444;

        --danger: #ef4444;
        --warning: #ffc107;
        --success: #22c55e;
        --info: #3b82f6;

        --border-radius: 6px;
        --border-width: 1px;
        --border-style: solid;
        --border-color: var(--color);
        --border: var(--border-width) var(--border-style) var(--border-color);

        --p-margin-bottom: 1rem;
        --margin-bottom-heading: 0.7rem;
    }

    @font-face {
        font-family: "Inter";
        src: url(/asset/font/InterVariable.woff2) format("woff2");
    }

    body {
        color: var(--color);
        line-height: var(--line-height);
        font-family: "Inter", sans-serif;
        font-feature-settings: "ss02";
        background-color: var(--background-color);
    }

    h6,
    h5,
    h4,
    h3,
    h2,
    h1 {
        margin-top: 0;
        margin-bottom: var(--margin-bottom-heading);
        font-weight: var(--font-weight-heading);
        line-height: 1.2;
    }

    h1 {
        font-size: var(--h1-font-size);
    }

    h2 {
        font-size: var(--h2-font-size);
    }

    h3 {
        font-size: var(--h3-font-size);
    }

    h4 {
        font-size: var(--h4-font-size);
    }

    h5 {
        font-size: var(--h5-font-size);
    }

    h6 {
        font-size: var(--h6-font-size);
    }

    p {
        font-size: var(--font-size-content);
        margin-top: 0;
        margin-bottom: var(--p-margin-bottom);
        color: var(--color);
    }

    code,
    kbd,
    samp,
    pre {
        font-size: var(--font-size-content);
    }

    code {
        color: var(--code-color);
    }
}

@layer utilities {
    .font-size-content-l {
        font-size: var(--font-size-content-l);
    }

    .font-size-content-s {
        font-size: var(--font-size-content-s);
    }

    .font-size-content-xs {
        font-size: var(--font-size-content-xs);
    }
}