@layer variant {
    .boundary[data-variant="draggable"] {
        justify-content: center;
        height: var(--space-3);
        border-block: var(--border-width-1) solid var(--border-color);
    }

    .boundary[data-variant="draggable-control"] {
        height: var(100% - 2px);
        margin-block: 2px;
        width: var(--space-7);
        flex-basis: var(--sapce-7);
        cursor: row-resize;
        background-color: var(--background-muted);
        border-radius: 99px;
        border: none;
    }

    .boundary[data-variant="draggable-control"]:hover {
        background-color: var(--border-color);
    }
}
