@layer variant {
    .text[data-for="landing-hero-logo"],
    .text[data-variant="logo"] {
        font-family: "RecursiveMonoLinearExtraBold";
        padding: var(--space) var(--space-1);
        border-radius: 5px;
        color: var(--text-color-base-inverted);
        background-color: var(--background-inverted);
        font-size: inherit;
        display: inline-block;
        line-height: 1;
    }

    .text[data-for="landing-hero-logo"]{
        padding-inline: var(--space-4);
    }
}