@layer variant {
    .trigger[data-variant="danger"] {
        border: none;
        background-color: var(--danger-1);
        color: var(--danger-content);
    }

    .trigger[data-variant="danger"]:hover {
        background-color: var(--danger-2);
    }

    .trigger[data-variant="success"] {
        border: none;
        background-color: var(--success-1);
        color: var(--success-content);
    }

    .trigger[data-variant="success"]:hover {
        background-color: var(--success-2);
    }

    .trigger[data-variant="info"] {
        border: none;
        background-color: var(--info-1);
        color: var(--info-content);
    }

    .trigger[data-variant="info"]:hover {
        background-color: var(--info-2);
    }

    .trigger[data-variant="warning"] {
        border: none;
        background-color: var(--warning-1);
        color: var(--warning-content);
    }

    .trigger[data-variant="warning"]:hover {
        background-color: var(--warning-2);
    }
}
