@layer variant {
    .bar__section[data-composition="margin-inline-start-auto"] {
        margin-inline-start: auto;
    }

    .bar__section[data-composition="gap-3"] {
        gap: var(--space-3);
    }

    .bar__section[data-composition="sandwich-start"] {
        justify-content: flex-start;
        width: 50%;
    }

    .bar__section[data-composition="sandwich-end"] {
        justify-content: flex-end;
        width: 50%
    }

    .bar__section[data-composition="sandwich-middle"] {
        flex-shrink: 0;
    }
}
