@layer variant {
    .accordion--enclosed {
        border: 1px solid var(--color);
        border-radius: 5px;
        overflow: hidden;
    }

    .accordion--enclosed .accordion__content {
        border-block-start: 1px solid var(--color);
        padding-block-start: 1em;
        margin-block-end: -1px;
    }

    .accordion--controlled .accordion__content {
        display: none;
    }

    .accordion--animated .accordion__chevron {
        transition: rotate 0.25s ease;
    }

    .accordion--animated .accordion__content {
        max-height: 0;
        overflow: hidden;
        padding-block: 0;
        transition:
            padding-block 0.35s ease,
            max-height 0.25s ease;
    }

    .accordion--controlled[open] .accordion__content {
        display: flex;
    }

    .accordion--animated[open] .accordion__content {
        max-height: 100vh;
        padding-block: var(--accordion-padding-block);
    }
}
