@layer variant {
    .button[data-variant="top-down"] {
        padding-inline: var(--space-4);
        padding-block: var(--space-4);
        flex-direction: column;
        gap: 0.5em;
    }

    .icon[data-variant="top-down"] {
        --icon-width: var(--space-6);
        --icon-height: var(--space-6);
    }

    .button[data-variant="tiered"] {
        padding-inline: var(--space-4);
        padding-block: var(--space-4);
        width: 50%;
    }

    .button__section[data-variant="tiered"] {
        flex-direction: column;
        gap: var(--space-1);
        align-items: start;
    }

    .typography[data-variant="tiered-primary"] {
        font-size: var(--font-size-base);
        font-weight: bold;
    }

    .typography[data-variant="tiered-secondary"] {
        font-size: var(--font-size-s);
        font-weight: var(--font-extralight);
        color: var(--background-color-muted);
    }
    .icon[data-variant="tiered-chevron"] {
        margin-inline-start: auto;
        width: var(--space-5);
        height: var(--space-5);
    }

    .button[data-variant="too-much"] {
        border-radius: 999px 0 0 999px;
        padding: calc(2 * var(--space));
        gap: calc(5 * var(--space));
    }

    .button__section[data-variant="too-much"] {
        flex-direction: column;
        align-items: start;
    }

    .typography[data-variant="too-much-primary"] {
        font-size: var(--font-size-base);
        font-weight: bold;
    }

    .typography[data-variant="too-much-secondary"] {
        font-size: var(--font-size-s);
    }

    .icon[data-variant="too-much-chevron"] {
        width: var(--space-5);
        height: var(--space-5);
    }

    .avatar[data-variant="too-much"] {
        border-radius: 999px;
        width: var(--space-7);
        height: var(--space-7);
    }

    .button[data-variant="icon"],
    .button[data-variant="icon-ghost"] {
        --button-padding-block: calc(1 * var(--space));
        --button-padding-inline: calc(1 * var(--space));
        --button-border-radius: 2px;
    }

    .button[data-variant="icon-ghost"] {
        --button-background: transparent;
        --button-hover-background: transparent;
        --button-hover-opacity: 0.3;
        color: var(--color);
    }

    .button[data-variant="flat"] {
        --button-padding-block: calc(2 * var(--space));
    }

    .button[data-variant="close-segmented"] {
        --button-background: transparent;
        --button-hover-background: var(--color);
        --button-color: var(--color);
        --button-hover-color: var(--background-color);
    }
}
