@layer variant {
    .button--icon {
        padding: 0.5rem;
    }

    .button--tiered {
        padding-block: 0.75em;
    }

    .button--section__tiered {
        gap: 0.25em;
        align-items: start;
    }

    .button--top-down {
        flex-direction: column;
        gap: 0.5em;
    }

    .button--top-down>.button__icon {
        width: 2em;
        height: 2em;
    }

    .button--left-rounded {
        border-radius: 999px 0 0 999px;
        padding: 0.5em;
    }

    .button__section--left-rounded {
        background-color: var(--background-color);
        color: var(--color);
        border-radius: 999px;
        padding: 0.5em;
    }
}