@layer variant {
    .container[data-variant="article"] {
        width: 100%;
        max-width: 40rem;
        padding-inline: var(--space-2);
        margin-inline: auto;
        font-size: var(--font-size-base);
    }

    .container[data-variant="article-section"] {
        margin-block: var(--space-5);
    }

    .container[data-variant="button-display"],
    .container[data-variant="button-display-col"] {
        display: flex;
        gap: var(--space-3);
        margin-block: var(--space-5);
    }
    .container[data-variant="button-display-col"] {
        flex-direction: column;
    }
}