/* Code highlight */
@layer variant {
    :root {
        --token-cmnt: #6e7781;
        --token-deleted: #cf222e;
        --token-err: #cf222e;
        --token-kwd: #cf222e;
        --token-class: #953800;
        --token-type: #0550ae;
        --token-oper: #0550ae;
        --token-num: #0550ae;
        --token-section: #0550ae;
        --token-var: #0550ae;
        --token-bool: #0550ae;
        --token-insert: #0a3069;
        --token-str: #0a3069;
        --token-func: #8250df;
    }

    .typography[data-variant="token-cmnt"] {
        color: var(--token-cmnt);
    }

    .typography[data-variant="token-deleted"] {
        color: var(--token-deleted);
    }

    .typography[data-variant="token-err"] {
        color: var(--token-err);
    }

    .typography[data-variant="token-kwd"] {
        color: var(--token-kwd);
    }

    .typography[data-variant="token-class"] {
        color: var(--token-class);
    }

    .typography[data-variant="token-type"] {
        color: var(--token-type);
    }

    .typography[data-variant="token-oper"] {
        color: var(--token-oper);
    }

    .typography[data-variant="token-num"] {
        color: var(--token-num);
    }

    .typography[data-variant="token-section"] {
        color: var(--token-section);
    }

    .typography[data-variant="token-var"] {
        color: var(--token-var);
    }

    .typography[data-variant="token-bool"] {
        color: var(--token-bool);
    }

    .typography[data-variant="token-insert"] {
        color: var(--token-insert);
    }

    .typography[data-variant="token-str"] {
        color: var(--token-str);
    }

    .typography[data-variant="token-func"] {
        color: var(--token-func);
    }
}

/* Documentation */
@layer variant {
    .typography[data-variant="p"],
    .typography[data-variant="h1"],
    .typography[data-variant="h2"],
    .typography[data-variant="h3"],
    .typography[data-variant="h4"],
    .typography[data-variant="h5"],
    .typography[data-variant="h6"],
    .typography[data-variant="list"] {
        margin-block: var(--space-5);
    }

    .typography[data-variant="p"],
    .typography[data-variant="list"],
    .typography[data-variant="list-item"] {
        color: var(--color-2);
        line-height: var(--line-height-content);
    }

    .typography[data-variant="list-item"] {
        margin-block: var(--space-2);
    }

    .typography[data-variant="h1"],
    .typography[data-variant="h2"],
    .typography[data-variant="h3"],
    .typography[data-variant="h4"],
    .typography[data-variant="h5"],
    .typography[data-variant="h6"] {
        font-weight: var(--font-bold);
        line-height: var(--line-height-heading);
    }

    .typography[data-variant="h1"] {
        font-size: var(--font-size-4xl);
    }

    .typography[data-variant="h2"] {
        font-size: var(--font-size-3xl);
    }

    .typography[data-variant="h3"] {
        font-size: var(--font-size-l);
    }

    .typography[data-variant="h4"],
    .typography[data-variant="h5"],
    .typography[data-variant="h6"] {
        font-size: var(--font-size-base);
    }

    .typography[data-variant="inline-code"] {
        background-color: var(--background-color-2);
        border-radius: 2px;
        padding-block: 2px;
        padding-inline: var(--space-1);
        color: hsl(0deg 85% 60%);
        display: inline-block;
        line-height: 1;
    }

    .container[data-variant="article"] {
        width: 100%;
        max-width: 40rem;
        padding-inline: var(--space-2);
        margin-inline: auto;
        font-size: var(--font-size-base);
    }

    .container[data-variant="article-section"] {
        margin-block: var(--space-5);
    }

    .container[data-variant="button-display"],
    .container[data-variant="button-display-col"] {
        display: flex;
        gap: var(--space-3);
        margin-block: var(--space-5);
    }

    .container[data-variant="button-display-col"] {
        flex-direction: column;
    }

    .container[data-variant="code-block"] {
        white-space: pre;
        background: var(--background-color-2);
        border-radius: 5px;
        padding: var(--code-block-padding, var(--space-4));
        font: 1rem/1.5rem Consolas, Courier New, Monaco, Andale Mono,
            Ubuntu Mono, monospace;
        overflow-x: auto;
        margin-block: var(--code-block-margin, var(--space-4));
    }
}

/* Hero logo & slogan */
@layer variant {
    .container[data-variant="contour-hero"] {
        --hero-margin-block: clamp(4.5rem, 4.2955rem + 0.9091vw, 5rem);
        display: flex;
        flex-direction: column;
        max-width: 50rem;
        margin-block: var(--hero-margin-block);
        margin-inline: auto;
        padding-inline: 0.75rem;
        max-height: calc(100vh - 2 * var(--hero-margin-block));

        align-items: start;
        justify-content: start;
        gap: clamp(2rem, 1.5909rem + 1.8182vw, 3rem);
    }

    .container[data-variant="contour-hero-control"] {
        display: flex;
        gap: 0.5rem;
    }

    .container[data-variant="landing-section"] {
        color: var(--color-1);
        height: 1000px;
        padding-inline: 10rem;
        padding-block: 3rem;
        position: relative;
    }

    .container[data-variant="landing-section"]::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        background-color: var(--background-color-2);
    }

    .container[data-variant="contour-display"] {
        --code-block-margin: 0;

        width: 100%;
        background: var(--background-color-2);
        border-radius: 5px;
        border: 1px solid var(--background-color-3);
        overflow: auto;
    }

    .symbol[data-variant="contour-logo"] {
        --symbol-height: clamp(4rem, 3.1818rem + 3.6364vw, 6rem);
        --symbol-width: calc(var(--symbol-height) * 4);
        flex: 0 0 var(--symbol-height);
    }

    .typography[data-variant="contour-slogan"] {
        font-weight: normal;
        color: var(--color-2);
        font-size: clamp(1.25rem, 1.1477rem + 0.4545vw, 1.5rem);
    }
}

/* Hero control */
@layer variant {
    .trigger[data-variant="inverse"] {
        --trigger-background: var(--color-1);
        --trigger-hover-background: var(--color-2);
        color: var(--background-color-1);
    }

    .trigger[data-variant="blueprint"] {
        --button-border-width: 1px;
        border: var(--button-border-width) dashed var(--color-1);
        border-radius: 0;
        position: relative;
        z-index: 1;
    }

    .trigger[data-variant="blueprint"]::after,
    .trigger[data-variant="blueprint"]::before {
        --button-marker-size: 1rem;

        height: calc(
            100% + var(--button-marker-size) + var(--button-border-width)
        );
        width: var(--button-marker-size);
        background-size: var(--button-marker-size) var(--button-marker-size);
        mask-image: url(/asset/image/plus.svg), url(/asset/image/plus.svg);
        mask-repeat: no-repeat, no-repeat;
        mask-position: bottom, top;
        background-color: currentColor;
        fill: var(--color-1);
        content: "";
        position: absolute;
    }

    .trigger[data-variant="blueprint"]::before {
        left: calc(
            -1 * (var(--button-marker-size) + var(--button-border-width)) / 2
        );
    }

    .trigger[data-variant="blueprint"]::after {
        right: calc(
            -1 * (var(--button-marker-size) + var(--button-border-width)) / 2
        );
    }

    .trigger[data-variant="digital"] {
        border-radius: 0;
        border: 1px solid var(--color-1);
        position: relative;
        --button-background: var(--background-color-1);
    }

    .trigger[data-variant="digital"]::after {
        content: "";
        position: absolute;
        top: 8px;
        left: 8px;
        width: 100%;
        height: 100%;
        background: radial-gradient(
            circle,
            var(--color-1) 30%,
            transparent 30%
        );
        background-size: 2px 2px;
        z-index: -1;
    }

    .trigger[data-variant="glassy"] {
        position: relative;
        backdrop-filter: blur(2px) saturate(180%);
        border: 1px solid rgba(255, 255, 255, 0.8);
        border-radius: 2rem;
    }

    .trigger[data-variant="glassy"]::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 2rem;
        backdrop-filter: blur(1px);
        box-shadow: inset -10px -8px 0px -11px rgba(255, 255, 255, 1),
            inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
        opacity: 0.6;
        z-index: -1;
        filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);
    }
}
