@layer variant {
    .trigger[data-variant="landing-inverse"],
    .trigger[data-variant="landing"] {
        --trigger-font-size: var(--font-size-l);
        padding-block: var(--space-4);
        padding-inline: var(--space-4);
    }

    .trigger[data-variant="landing-inverse"] {
        --trigger-background: var(--color);
        --trigger-hover-background: var(--color-2);
        border: none;
        color: var(--background-color-1);
    }

    .trigger[data-variant="blueprint"] {
        --button-border-width: 1px;
        border: var(--button-border-width) dashed black;
        border-radius: 0;
        position: relative;
        z-index: 1;
    }

    .trigger[data-variant="blueprint"]::after,
    .trigger[data-variant="blueprint"]::before {
        --button-marker-size: 1rem;

        height: calc(
            100% + var(--button-marker-size) + var(--button-border-width)
        );
        width: var(--button-marker-size);
        background-size: var(--button-marker-size) var(--button-marker-size);
        background: url(/asset/image/plus.svg) no-repeat bottom,
            url(/asset/image/plus.svg) no-repeat top;
        content: "";
        position: absolute;
    }

    .trigger[data-variant="blueprint"]::before {
        left: calc(
            -1 * (var(--button-marker-size) + var(--button-border-width)) / 2
        );
    }

    .trigger[data-variant="blueprint"]::after {
        right: calc(
            -1 * (var(--button-marker-size) + var(--button-border-width)) / 2
        );
    }

    .trigger[data-variant="digital"] {
        border-radius: 0;
        border: 2px solid black;
        position: relative;
        --button-background: var(--background-color-1);
    }

    .trigger[data-variant="digital"]::after {
        content: "";
        position: absolute;
        top: 8px;
        left: 8px;
        width: 100%;
        height: 100%;
        background-image: url(/asset/image/dotted.svg);
        background-repeat: repeat;
        z-index: -1;
        isolation: isolate;
    }

    .trigger[data-variant="glassy"] {
        position: relative;
        backdrop-filter: blur(2px) saturate(180%);
        border: 1px solid rgba(255, 255, 255, 0.8);
        border-radius: 2rem;
    }

    .trigger[data-variant="glassy"]::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 2rem;
        backdrop-filter: blur(1px);
        box-shadow: inset -10px -8px 0px -11px rgba(255, 255, 255, 1),
            inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
        opacity: 0.6;
        z-index: -1;
        filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);
    }

    .container[data-variant="article"] {
        width: 100%;
        max-width: 40rem;
        padding-inline: var(--space-2);
        margin-inline: auto;
        font-size: var(--font-size-base);
    }

    .container[data-variant="article-section"] {
        margin-block: var(--space-5);
    }

    .container[data-variant="button-display"],
    .container[data-variant="button-display-col"] {
        display: flex;
        gap: var(--space-3);
        margin-block: var(--space-5);
    }

    .container[data-variant="button-display-col"] {
        flex-direction: column;
    }

    .container[data-variant="contour-hero"] {
        display: block;
        max-width: 50rem;
        margin-block: 5rem;
        margin-inline: auto;
        padding-inline: 0.5rem;
        justify-content: center;
    }

    .container[data-variant="contour-hero-control"] {
        display: flex;
        margin-block: 4rem;
        gap: 0.5rem;
    }

    .container[data-variant="landing-section"] {
        margin-top: 7rem;
        color: var(--color-1);
        height: 1000px;
        padding-inline: 10rem;
        padding-block: 3rem;
        position: relative;
    }

    .container[data-variant="landing-section"]::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        background-color: var(--background-color-2);
    }
    
    .typography[data-variant="p"],
    .typography[data-variant="h1"],
    .typography[data-variant="h2"],
    .typography[data-variant="h3"],
    .typography[data-variant="h4"],
    .typography[data-variant="h5"],
    .typography[data-variant="h6"],
    .typography[data-variant="list"] {
        margin-block: var(--space-5);
    }

    .typography[data-variant="p"],
    .typography[data-variant="list"],
    .typography[data-variant="list-item"] {
        color: var(--color-2);
        line-height: var( --line-height-content);
    }

    .typography[data-variant="list-item"] {
        margin-block: var(--space-2);
    }

    .typography[data-variant="h1"],
    .typography[data-variant="h2"],
    .typography[data-variant="h3"],
    .typography[data-variant="h4"],
    .typography[data-variant="h5"],
    .typography[data-variant="h6"] {
        font-weight: var(--font-bold);
        line-height: var(--line-height-heading);
    }

    .typography[data-variant="h1"] {
        font-size: var(--font-size-4xl);
    }

    .typography[data-variant="h2"] {
        font-size: var(--font-size-3xl);
    }

    .typography[data-variant="h3"] {
        font-size: var(--font-size-l);
    }

    .typography[data-variant="h4"],
    .typography[data-variant="h5"],
    .typography[data-variant="h6"] {
        font-size: var(--font-size-base);
    }

    .typography[data-variant="inline-code"] {
        background-color: var(--background-color-muted);
        border-radius: 2px;
        padding-block: 2px;
        padding-inline: var(--space-1);
        color: hsl(0deg 85% 60%);;
        display: inline-block;
        line-height: 1;
    }

    .typography[data-variant="contour-hero-subhead"] {
        font-weight: normal;
        color: var(--color-2);
        margin-block-start: var(--space-6);
        font-size: var(--font-size-2xl);
    }
}
