@layer variant {
    .list__item[data-variant="menu-item"] {
        cursor: pointer;
        grid-template-columns: 1fr max-content;
        padding-inline-start: var(--space-7);
    }

    .list__item[data-variant="menu-user"] {
        grid-template-columns: max-content max-content;
        grid-template-rows: min-content min-content;
        gap: var(--space-1) var(--space-2);
        align-items: center;
        cursor: pointer;
        padding-inline-start: var(--space-7);
    }

    .list__item[data-variant="menu-item"]:hover,
    .list__item[data-variant="menu-user"]:hover {
        background-color: var(--color);
        color: var(--background-color);
    }

    .avatar[data-variant="menu-user"] {
        grid-column: 1 / 2;
        grid-row: 1 / span 2;
        width: var(--space-7);
        height: var(--space-7);
    }

    .typography[data-variant="menu-label"] {
        display: block;
        padding-inline: var(--list-item-padding-inline);
        padding-block: var(--list-item-padding-block);
        font-weight: var(--font-bold);
    }

    .typography[data-variant="menu-kdb"] {
        display: inline-block;
        font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    }

    .typography[data-variant="menu-user"] {
        font-weight: var(--font-medium);
    }

    .typography[data-variant="menu-secondary"] {
        color: grey;
        font-size: var(--font-size-s);
    }

    .list__item[data-variant="song-ranking"] {
        --list-item-hover-background: var(--background-color-muted);
        --list-item-hover-color: var(--color);

        grid-template-columns: min-content min-content 1fr min-content;
        grid-template-rows: min-content min-content;
        column-gap: var(--space-4);
        align-items: center;
    }

    .typography[data-variant="song-ranking-index"] {
        grid-column: 1 / 2;
        grid-row: 1 / span 2;
        font-weight: var(--font-thin);
        font-size: var(--font-size-4xl);
        font-variant-numeric: tabular-nums;
    }

    .typography[data-variant="song-ranking-name"] {
        grid-row: 1 / span 1;
        font-weight: var(--font-bold);
    }

    .typography[data-variant="song-ranking-song"] {
        grid-row: 2 / span 1;
        text-transform: uppercase;
        color: grey;
        font-size: var(--font-size-s);
    }

    .avatar[data-variant="song-ranking-avatar"] {
        grid-column: 2 / 3;
        grid-row: 1 / span 2;
        width: var(--space-7);
        height: var(--space-7);
    }

    .button[data-variant="song-ranking-control"] {
        grid-row: 1 / span 2;
        --button-background: transparent;
        --button-color: var(--color);
        --button-hover-background: transparent;
        --button-hover-color: var(--color);
        --button-hover-opacity: 0.2;
        --button-padding: var(--space-2);
        border-radius: 5px;
    }

    .list__item[data-variant="song-detail"] {
        --list-item-hover-background: var(--background-color-muted);
        --list-item-hover-color: var(--color);

        grid-template-columns: min-content 1fr min-content min-content;
        grid-template-rows: min-content min-content min-content;
        column-gap: var(--space-4);
        align-items: center;
        padding: var(--space-5);
    }

    .avatar[data-variant="song-detail-avatar"] {
        grid-column: 1 / 2;
        grid-row: 1 / span 2;
        width: var(--space-7);
        height: var(--space-7);
    }

    .typography[data-variant="song-detail-name"] {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        font-weight: var(--font-bold);
    }

    .typography[data-variant="song-detail-song"] {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        text-transform: uppercase;
        color: grey;
        font-size: var(--font-size-s);
    }

    .typography[data-variant="song-detail-description"] {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
        margin-block-start: var(--space-4);
        font-size: var(--font-size-s);
    }

    .button[data-variant="song-detail-control"] {
        grid-row: 1 / span 2;
        --button-background: transparent;
        --button-color: var(--color);
        --button-hover-background: transparent;
        --button-hover-color: var(--color);
        --button-hover-opacity: 0.2;
        --button-padding: var(--space-2);
        border-radius: 5px;
    }
}
