@layer variant {
    @font-face {
        font-family: "Recursive";
        src: local("Recursive"),
            url("/asset/font/Recursive.woff2") format("woff2");
    }

    .logo {
        font-family: "Recursive";
        font-variation-settings: "MONO" 1;
        font-weight: 1000;
        font-size: 5rem;
        padding-inline: 1rem;
        padding-block: 0.5rem;
        line-height: 1;
        display: inline-block;
        background-color: var(--color);
        color: var(--background-color);
        border-radius: 5px;
    }
}
