@layer variant {
    .menu__nested--guided {
        border-left: 1px solid var(--color);
        padding-left: 0;
        margin-left: 1em;
    }

    .menu__item--guided {
        margin-left: -1px;
    }

    .menu__item--tiered {
        flex-direction: column;
        gap: 0.25rem;
        align-items: start;
    }

    .menu__item-text--main {
        display: block;
    }

    .menu__item-text--sub {
        color: grey;
        display: block;
        font-size: var(--font-size-s);
    }
}
