@layer variant {
    .menu--nested__guided {
        border-left: 1px solid var(--color);
        padding-left: 0;
        margin-left: 1em;
    }

    .menu--item__guided {
        margin-left: -1px;
    }
}