@layer variant {
    .mutex__item.is-equal {
        flex: 1 1 0px;
    }

    .mutex__item.has-gap-3 {
        gap: var(--space-3);
    }

    .mutex__item.has-flex-column {
        flex-direction: column;
    }

    .mutex[data-variant="tab-underscored"] {
        --mutex-variant-border-block-end-width: 2px;
        --mutex-border-block-end: var(--mutex-variant-border-block-end-width)
            solid var(--background-color-muted);
    }

    .mutex__item[data-variant="tab-underscored"] {
        --mutex-item-margin-block: 0
            calc(-1 * var(--mutex-variant-border-block-end-width));
        --mutex-item-border-block-end: var(
                --mutex-variant-border-block-end-width
            )
            solid transparent;
        --mutex-item-active-border-block-end: var(
                --mutex-variant-border-block-end-width
            )
            solid var(--color);
    }

    .mutex__item[data-variant="tab-backdrop"] {
        --mutex-item-active-background: var(--background-color-muted);
        --mutex-item-active-border-start-start-radius: 5px;
        --mutex-item-active-border-start-end-radius: 5px;
        --mutex-item-active-border-end-end-radius: 5px;
        --mutex-item-active-border-end-start-radius: 5px;
    }

    .mutex[data-variant="tab-enclosed"] {
        --mutex-padding-block: var(--space);
        --mutex-padding-inline: var(--space);
        --mutex-background: var(--background-color-muted);
        --mutex-border-start-start-radius: 5px;
        --mutex-border-start-end-radius: 5px;
        --mutex-border-end-end-radius: 5px;
        --mutex-border-end-start-radius: 5px;
    }

    .mutex__item[data-variant="tab-enclosed"] {
        --mutex-item-active-background: var(--background-color);
        --mutex-item-active-border-start-start-radius: 3px;
        --mutex-item-active-border-start-end-radius: 3px;
        --mutex-item-active-border-end-end-radius: 3px;
        --mutex-item-active-border-end-start-radius: 3px;
        --mutex-item-active-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.05);
    }

    .mutex[data-variant="tab-outlined"] {
        --mutex-variant-border-block-end-width: 2px;
        --mutex-gap: 0;
        --mutex-border-block-end: var(--mutex-variant-border-block-end-width)
            solid var(--background-color-muted);
    }

    .mutex__item[data-variant="tab-outlined"] {
        --mutex-item-margin-block: 0
            calc(-1 * var(--mutex-variant-border-block-end-width));

        --mutex-item-active-background: var(--mutex-background);
        --mutex-item-active-border-inline-start: var(
                --mutex-variant-border-block-end-width
            )
            solid var(--background-color-muted);
        --mutex-item-active-border-inline-end: var(
                --mutex-variant-border-block-end-width
            )
            solid var(--background-color-muted);
        --mutex-item-active-border-block-start: var(
                --mutex-variant-border-block-end-width
            )
            solid var(--background-color-muted);
        --mutex-item-active-border-block-end: 0;
        --mutex-item-active-border-start-start-radius: 5px;
        --mutex-item-active-border-start-end-radius: 5px;
    }

    .mutex[data-variant="tab-joint"] {
        --mutex-gap: 0;
    }

    .mutex__item[data-variant="tab-joint"] {
        --mutex-item-margin-inline: -1px 0;
        --mutex-item-color: var(--color);

        --mutex-item-border-block-start: 1px solid var(--color);
        --mutex-item-border-block-end: 1px solid var(--color);
        --mutex-item-border-inline-start: 1px solid var(--color);
        --mutex-item-border-inline-end: 1px solid var(--color);

        --mutex-item-hover-background: var(--background-color-muted);

        --mutex-item-active-color: var(--background-color);
        --mutex-item-active-background: var(--color);

        --mutex-item-active-border-block-start: 1px solid var(--color);
        --mutex-item-active-border-block-end: 1px solid var(--color);
        --mutex-item-active-border-inline-start: 1px solid var(--color);
        --mutex-item-active-border-inline-end: 1px solid var(--color);
    }

    .mutex__item[data-variant="tab-joint"]:first-child {
        --mutex-item-border-start-start-radius: 5px;
        --mutex-item-border-end-start-radius: 5px;
        --mutex-item-active-border-start-start-radius: 5px;
        --mutex-item-active-border-end-start-radius: 5px;
        --mutex-item-margin-inline: 0;
    }

    .mutex__item[data-variant="tab-joint"]:last-child {
        --mutex-item-border-start-end-radius: 5px;
        --mutex-item-border-end-end-radius: 5px;
        --mutex-item-active-border-start-start-radius: 5px;
        --mutex-item-active-border-end-start-radius: 5px;
    }

    .mutex__item[data-variant="file-tab"] {
        gap: var(--space-3);
    }

    .mutex__item[data-variant="tab-top-down"] {
        flex-direction: column;
        gap: var(--space-3);
    }

    .icon[data-variant="tab-top-down"] {
        height: var(--space-6);
        width: var(--space-6);
    }

    .mutex__indicator[data-variant="tab-underscored"] {
        --mutex-indicator-border-block-end: var(
                --mutex-variant-border-block-end-width
            )
            solid var(--color);
        height: calc(100% + var(--mutex-variant-border-block-end-width));
        transition: left 0.2s ease, width 0.2s ease;
    }

    .mutex__indicator[data-variant="tab-backdrop"] {
        --mutex-indicator-background: var(--background-color-muted);
        --mutex-indicator-border-start-start-radius: 5px;
        --mutex-indicator-border-start-end-radius: 5px;
        --mutex-indicator-border-end-end-radius: 5px;
        --mutex-indicator-border-end-start-radius: 5px;
        height: 100%;
        transition: left 0.2s ease, width 0.2s ease;
    }

    .mutex__indicator[data-variant="tab-enclosed"] {
        --mutex-indicator-background: var(--background-color);
        --mutex-indicator-border-start-start-radius: 3px;
        --mutex-indicator-border-start-end-radius: 3px;
        --mutex-indicator-border-end-end-radius: 3px;
        --mutex-indicator-border-end-start-radius: 3px;
        --mutex-indicator-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.05);
        /* 
            Does this break usability & create complex dependencies? 

            Maybe not, because elements with __ always have access
            to parent elements' variables, and that children generally
            referece parents when it comes to relative units.

            Maybe make notes in documentation about how just using 
            100% will break in this case, and that you need calc()
            to make it work.
        */
        height: calc(100% - 2 * var(--mutex-padding-block));
        transition: left 0.2s ease, width 0.2s ease;
    }

    .mutex__indicator[data-variant="tab-outlined"] {
        --mutex-indicator-background: var(--mutex-background);
        --mutex-indicator-border-inline-start: var(
                --mutex-variant-border-block-end-width
            )
            solid var(--background-color-muted);
        --mutex-indicator-border-inline-end: var(
                --mutex-variant-border-block-end-width
            )
            solid var(--background-color-muted);
        --mutex-indicator-border-block-start: var(
                --mutex-variant-border-block-end-width
            )
            solid var(--background-color-muted);
        --mutex-indicator-border-block-end: 0;
        --mutex-indicator-border-start-start-radius: 5px;
        --mutex-indicator-border-start-end-radius: 5px;
        height: calc(100% + var(--mutex-variant-border-block-end-width));
        transition: left 0.2s ease, width 0.2s ease;
    }
}
