@layer variant {
    /* 
        NOTE: if it is a different variant, you should assume that
        its HTML is slightly different. Don't try to apply close-
        separated variant to icon-top variant. If you want a combination,
        make a new variant.
    */
    [data-notice-variant="close-separated"] {
        padding-block: 0;
        padding-inline-end: 0;
    }

    [data-notice-variant="close-separated"]>.notice-section {
        padding-block: 1em;
    }

    /* 
        Note in the doc here that you avoided more specific
        selectors by using custom properties.
        If specificity is <= (0,2,0), anything is fine.
        If larger, then use custom properties.
    */
    [data-notice-section-variant="close-separated-close"] {
        --notice-close-align-self: center;
        --notice-close-hover-opacity: initial;
        justify-content: center;
        align-self: stretch;
        padding-inline: 1em;
    }

    [data-notice-section-variant="close-separated-close"]:hover {
        background-color: var(--color);
        color: var(--background-color);
        cursor: pointer;
    }

    [data-notice-variant="left-inclined"] {
        border-left: 5px solid var(--color);
        border-radius: 0 10px 10px 0;
    }

    [data-notice-variant="icon-top"] {
        position: relative;
        margin-top: 2.5em;
        padding-top: 2.5em;
    }

    [data-notice-variant="icon-top"] .notice-icon {
        width: 3em;
        height: 3em;
        position: absolute;
        top: -1.5em;
        color: var(--color);
    }

    [data-notice-variant="icon-top"] .notice-close {
        position: relative;
        top: -1.5em;
    }

    [data-notice-variant="icon-cornered"] {
        position: relative;
        padding: 1.5em;
        margin-top: 2em;
    }

    [data-notice-variant="icon-cornered"] .notice-icon {
        width: 2em;
        height: 2em;
        position: absolute;
        top: -1em;
        left: -1em;
        color: var(--color);
    }

    [data-notice-variant="button-linked"] [data-notice-section-variant="base-control"] {
        gap: 1em;
    }

    [data-notice-variant="button-linked"] .notice-button {
        padding-inline: 0;
        background-color: transparent;
        color: var(--color);
        text-decoration: underline;
    }
}