@layer variant {
    .notice__section--close-separated {
        justify-content: center;
        align-self: stretch;
        align-items: center;
        margin-block: calc(-1 * var(--notice-padding-block));
        margin-inline-end: calc(-1 * var(--notice-padding-inline));
        padding-inline: calc(0.5 * var(--notice-padding-inline));
    }

    .notice__section--close-separated:hover {
        background-color: var(--color);
        color: var(--background-color);
        cursor: pointer;
    }

    .notice--left-inclined {
        border-left: 5px solid var(--color);
        border-radius: 0 10px 10px 0;
    }

    .notice--icon-top {
        position: relative;
        margin-top: 2.5em;
        padding-top: 2.5em;
    }

    .notice--icon-top .icon {
        width: 3em;
        height: 3em;
        position: absolute;
        top: -1.5em;
        color: var(--color);
    }

    .notice--icon-top .notice__close {
        position: relative;
        top: -1.5em;
    }

    .notice--icon-cornered {
        position: relative;
        margin-top: 2em;
        margin-inline-start: 1em;
        padding: 1.2em;
    }

    .notice--icon-cornered .icon {
        width: 2em;
        height: 2em;
        position: absolute;
        top: -1em;
        left: -1em;
        color: var(--color);
    }

    .notice--button-linked .notice__control {
        gap: 1em;
    }

    .notice--button-linked .notice__button {
        padding-inline: 0;
        background-color: transparent;
        color: var(--color);
        text-decoration: underline;
    }
}
