@layer variant {
    .typography[data-variant="notice-title"] {
        font-weight: var(--font-bold);
    }

    .typography[data-variant="notice-title-inverted"] {
        font-weight: var(--font-bold);
        color: var(--background-color);
    }

    .button[data-variant="notice-close"] {
        --button-background: transparent;
        --button-hover-background: transparent;
        --button-hover-opacity: 0.3;
        color: var(--color);
        margin-inline-start: auto;
        padding: var(--space-2);
    }

    .notice__section[data-variant="control"] {
        margin-top: var(--space-2);
    }

    .notice__section[data-variant="close-segmented"] {
        flex-direction: row;
        justify-content: center;
        align-self: stretch;
        align-items: stretch;
        margin-block: calc(-1 * var(--notice-padding-block));
        margin-inline-start: auto;
        margin-inline-end: calc(-1 * var(--notice-padding-inline));
    }

    .notice[data-variant="icon-cornered"] {
        position: relative;
        margin-top: calc(8 * var(--space));
        margin-inline-start: calc(4 * var(--space));
        padding-inline-start: calc(8 * var(--space));
    }

    .icon[data-variant="icon-cornered"] {
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: -1em;
        left: -1em;
        color: var(--color);
        z-index: 1;
    }

    .notice[data-variant="icon-top"] {
        position: relative;
        margin-top: 2.5em;
        padding-top: 2.5em;
    }

    .icon[data-variant="icon-top"] {
        width: 3em;
        height: 3em;
        position: absolute;
        top: -1.5em;
        color: var(--color);
    }

    .notice[data-variant="title-segmented"] {
        padding: 0;
        flex-direction: column;
        align-items: start;
        border-radius: 5px;
        overflow: hidden;
        gap: 0;
        border: 1px solid var(--color);
        background: transparent;
    }

    .notice__section[data-variant="title-segmented-header"] {
        gap: calc(2 * var(--space));
        display: flex;
        background: var(--color);
        color: var(--background-color);
        flex-direction: row;
        align-items: center;
        align-self: stretch;
        padding-block: var(--space-2);
        padding-inline: var(--space-2);
    }

    .notice__section[data-variant="title-segmented-body"] {
        padding: var(--space-4);
    }
}
