@layer variant {
    .table--notion {
        --accent: grey;
        --accent-muted: #efefef;

        border: 1px solid var(--accent);
        border-radius: 5px;
        border-spacing: 0;
        background-clip: content-box;
        table-layout: fixed;
    }

    .table--notion td {
        border-block-start: 1px solid var(--accent);
    }

    .table--notion td:not(:first-child) {
        border-inline-start: 1px solid var(--accent);
    }

    .table--notion th {
        border-block-start: 1px solid var(--accent);
    }

    .table--notion th:not(:first-child) {
        border-inline-start: 1px solid var(--accent);
    }

    .table--notion thead th,
    .table--notion thead td,
    .table--notion tbody:first-child td,
    .table--notion tbody:first-child th {
        border-block-start: none;
    }

    .table--notion thead > tr {
        background-color: var(--accent-muted);
    }

    .table--notion thead > tr:first-child > th:first-child {
        border-start-start-radius: 5px;
    }

    .table--notion thead > tr:first-child > th:last-child {
        border-start-end-radius: 5px;
    }
}
