@layer variant {
    .typography[data-variant="p"],
    .typography[data-variant="h1"],
    .typography[data-variant="h2"],
    .typography[data-variant="list"] {
        margin-block: var(--space-5);
        line-height: 1.5;
    }
    
    .typography[data-variant="p"],
    .typography[data-variant="list"] {
        color: var(--color-2);
    }

    .typography[data-variant="list-item"] {
        line-height: 1.5;
    }

    .typography[data-variant="h1"] {
        font-size: var(--font-size-4xl);
        font-weight: var(--font-bold);
    }

    .typography[data-variant="h2"] {
        font-size: var(--font-size-xl);
        font-weight: var(--font-bold);
    }

    .typography[data-variant="inline-code"] {
        background-color: var(--background-color-muted);
        border-radius: 2px;
        padding-block: 2px;
        padding-inline: var(--space-1);
        color: var(--danger);
        display: inline-block;
        line-height: 1;
    }
}
