@layer variant {
    .button[data-variant="pill-ghost"],
    .button[data-variant="pill"] {
        border-radius: 999px;
        padding-inline: var(--space-5);
    }

    .button[data-variant="pill-ghost"],
    .button[data-variant="ghost"] {
        background-color: transparent;
        border: none;
    }

    .button[data-variant="pill-ghost"]:hover,
    .button[data-variant="ghost"]:hover {
        background-color: var(--background-color-2);
    }
}