/* Component display */
@layer variant {
    .container[data-variant="component-panel"] {
        overflow: hidden;
        border-radius: 5px;
        border: var(--border-width-1) solid var(--border-color);
        margin-block: var(--space-4);
    }

    .boundary[data-variant="component-panel-boundary"] {
        margin-block: 0;
    }

    .container[data-variant="component-display"],
    .container[data-variant="component-display-muted"],
    .container[data-variant="component-display-table"],
    .container[data-variant="component-display-stripe"] {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-image: radial-gradient(
                circle,
                var(--border-color) 1px,
                transparent 1px
            ),
            radial-gradient(
                circle,
                var(--border-color) 1px,
                transparent 1px
            );
        background-size: 16px 16px, 16px 16px;
        background-position: 0 0, 8px 8px;
        padding-block: var(--space-7);
    }

    .container[data-variant="component-display-muted"] {
        background-color: var(--background-muted);
    }

    .container[data-variant="component-display-stripe"] {
        background-image: repeating-linear-gradient(
            315deg,
            var(--border-color) 0,
            var(--border-color) 1px,
            transparent 0,
            transparent 50%
        );
        background-size: 8px 8px;
    }

    .container[data-variant="component-display-table"] {
        padding: var(--space-3);
    }

    .container[data-variant="code-block-header"] {
        padding-block: var(--space-2);
        padding-inline: var(--space-4);
        background-color: var(--background);
    }

    .container[data-variant="code-block-content"] {
        white-space: pre;
        background: var(--background);
        padding: var(--space-4);
        font: 1rem/1.5rem Consolas, Courier New, Monaco, Andale Mono,
            Ubuntu Mono, monospace;
        overflow-x: auto;
    }
}

/* Article Scaffolding */
@layer variant {
    .menu[data-variant="sidebar"] {
        height: 100vh;
        flex: 0 0 var(--measure-2);
        border-inline-end: var(--border-width-1) solid var(--border-color);
        overflow-y: auto;
        position: sticky;
        top: 0;
        padding: var(--space-4);
    }

    .menu__item[data-variant="sidebar"] {
        border-radius: 5px;
        padding: var(--space-3);
    }

    .container[data-variant="main"] {
        width: 100%;
        display: flex;
    }

    .container[data-variant="article"] {
        display: flex;
        flex: 1;
        gap: 2rem;
    }

    .container[data-variant="article-prose"] {
        flex: 1;
        margin-inline: auto;
        max-width: var(--measure-5);
        padding: var(--space-4);
    }

    .container[data-variant="article-prose"] > * + * {
        margin-block-start: var(--space-prose);
    }

    .outline[data-variant="article-outline"] {
        position: sticky;
        top: 0;
        flex: 0 0 var(--measure-2);
        max-height: 100vh;
        overflow-y: auto;
    }

    @media (width <= 65rem) {
        .menu[data-variant="sidebar"] {
            display: none;
        }
    }

    @media (width <= 85rem) {
        .outline {
            display: none;
        }
    }
}
