/* Component display */
@layer variant {
    .container[data-for="display"] {
        border-radius: 5px;
        border: var(--border-width-1) solid var(--border-color);
        margin-block: var(--space-4);
    }

    .container[data-for="display-main-striped"],
    .container[data-for="display-main-dotted"] {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-block: var(--space-7);
        border-block-end: var(--border-width-1) solid var(--border-color);
    }

    .container[data-for="display-main-table"] {
        display: block;
        padding: var(--space-4);
        border-block-end: var(--border-width-1) solid var(--border-color);
    }

    .container[data-for="display-main-boundary"] {
        display: block;
        padding-block: var(--space-7);
        padding-inline: var(--space-3);
        border-block-end: var(--border-width-1) solid var(--border-color);
    }

    .container[data-for="display-main-boundary"]:last-child,
    .container[data-for="display-main-table"]:last-child,
    .container[data-for="display-main-striped"]:last-child,
    .container[data-for="display-main-dotted"]:last-child {
        border-block-end: none;
    }

    .container[data-for="display-main-striped"] {
        background-image: repeating-linear-gradient(
            315deg,
            var(--border-color) 0,
            var(--border-color) 1px,
            transparent 0,
            transparent 50%
        );
        background-size: 8px 8px;
    }

    .container[data-for="display-main-boundary"],
    .container[data-for="display-main-table"],
    .container[data-for="display-main-dotted"] {
        background-image:
            radial-gradient(circle, var(--border-color) 1px, transparent 1px),
            radial-gradient(circle, var(--border-color) 1px, transparent 1px);
        background-size:
            16px 16px,
            16px 16px;
        background-position:
            0 0,
            8px 8px;
    }

    .container[data-for="display-code-header"] {
        display: flex;
        align-items: center;
        padding-block: var(--space-2);
        padding-inline: var(--space-4);
        background-color: var(--background);
        border-block-end: var(--border-width-1) solid var(--border-color);
    }

    .trigger[data-variant="copy"] {
        margin-inline-start: auto;
        padding: var(--space-2);
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .trigger[data-variant="copy"] .symbol {
        width: 1em;
        height: 1em;
    }

    .container[data-for="display-code"] {
        white-space: pre;
        background: var(--background);
        padding: var(--space-4);
        font:
            1rem/1.5rem Consolas,
            Courier New,
            Monaco,
            Andale Mono,
            Ubuntu Mono,
            monospace;
        overflow-x: auto;
    }

    .container[data-for="display-code"]:last-child {
        border-block-end: var(--border-width-1) solid var(--border-color);
    }

    .container[data-for="menu-framing"] {
        flex-basis: var(--measure-2);
        margin-inline: auto;
    }
}
