@layer variant {
    .marker[data-variant="kbd"] {
        color: var(--text-color-muted);
        border: var(--border-width-1) solid var(--border-color);
        border-block-end-width: 2px;
        font-size: var(--font-size-xs);
        padding-inline: var(--space-1);
        border-radius: 5px;
        line-height: 1.5;
    }
}