@layer variant {
    .text[data-variant="post-primary"] {
        font-weight: var(--font-bold);
    }

    .text[data-variant="post-secondary"] {
        font-size: var(--font-size-s);
    }
    
    .card__section[data-variant="post-header"] {
        gap: var(--space-3);
        flex-direction: row;
        align-items: center;
    }

    .card__section[data-variant="post-header-content"] {
        padding: 0;
        gap: 0;
    }

    .card__section[data-variant="post-control"] {
        justify-content: flex-start;
        gap: var(--space-3);
        flex-direction: row;
        padding: var(--space-3);
    }

    .media[data-variant="post-avatar"] {
        height: var(--space-6);
        width: var(--space-6);
        border-radius: 999px;
    }

    .media[data-variant="post-image"] {
        width: 100%;
    }
}
