@layer variant {
    .modal__dialog[data-variant="cornered"] {
        position: relative;
    }

    .modal__close[data-variant="cornered"] {
        position: absolute;
        inset-inline-end: var(--space-2);
        inset-block-start: var(--space-2);
    }
}
