@layer variant {
    .modal[data-variant="sectioned"] {
        padding: 0;
        gap: 0;
    }

    .modal__section[data-variant="sectioned-body"],
    .modal__section[data-variant="sectioned-header"] {
        border-block-end: 1px solid var(--background-color-2);
    }

    .modal__section[data-variant="sectioned-body"],
    .modal__section[data-variant="sectioned-header"],
    .modal__section[data-variant="sectioned-footer"] {
        padding: var(--space-4);
    }

    .text[data-variant="sectioned-modal-title"] {
        font-size: var(--font-size-l);
    }
}