@layer variant {
    .modal__dialog[data-variant="sectioned"] {
        padding: 0;
        gap: 0;
    }

    .modal__section[data-variant="sectioned-body"],
    .modal__section[data-variant="sectioned-header"] {
        border-block-end: 1px solid var(--background-color-2);
        padding: var(--space-4);
    }

    .modal__section[data-variant="sectioned-footer"] {
        padding-block: var(--space-3);
        padding-inline: var(--space-4)
    }

    .text[data-variant="sectioned-modal-title"] {
        font-size: var(--font-size-l);
    }
}
