@layer base {
    :root {
        --alert-padding-inline: 1em;
        --alert-padding-block: 1em;

        --alert-button-padding: 0.5em 0.5em;
        --alert-gap: 1em;

        --alert-font-size: var(--font-size, 1em);
        --alert-font-family: inherit;
        --alert-line-height: inherit;

        --alert-background-color: var(--background-color-muted);
        --alert-color: var(--color);

        --alert-border-top: none;
        --alert-border-right: none;
        --alert-border-bottom: none;
        --alert-border-left: none;
        --alert-border-radius: 0;

        --alert-font-size: 1em;
        --alert-font-family: inherit;
        --alert-line-height: inherit;
        --alert-text-color: inherit;

        --alert-icon-size: 1.5em;
        --alert-close-size: 1em;
        --alert-close-align-self: start;
        --alert-close-hover-opacity: 0.5;

        --alert-section-gap: 0.5em;
        --alert-section-content-gap: 1em;
        --alert-section-control-gap: 0.5em;
    }

    .alert {
        display: flex;
        align-items: center;
        border-top: var(--alert-border-top);
        border-right: var(--alert-border-right);
        border-bottom: var(--alert-border-bottom);
        border-left: var(--alert-border-left);
        border-radius: var(--alert-border-radius);
        background-color: var(--alert-background-color);
        color: var(--alert-color);
        padding-inline: var(--alert-padding-inline);
        padding-block: var(--alert-padding-block);
        gap: var(--alert-gap);
    }

    .alert-icon,
    .alert-close {
        width: auto;
        flex: none;
        color: inherit;
        line-height: var(--alert-line-height);
    }

    .alert-icon {
        height: var(--alert-icon-size);
    }

    .alert-close {
        height: var(--alert-close-size);
        align-self: var(--alert-close-align-self);
        cursor: pointer;
    }

    .alert-close:hover {
        opacity: var(--alert-close-hover-opacity);
    }

    .alert-section {
        display: flex;
        gap: var(--alert-section-gap);
    }
    
    [data-alert-section-variant="content"] {
        flex-direction: column;
        gap: var(--alert-section-content-gap);
    }

    [data-alert-section-variant="control"] {
        gap: var(--alert-section-control-gap);
    }

    .alert-button {
        --button-padding: var(--alert-button-padding);
    }
}