@layer base {
    :root {
        --button-padding: 1em 1em;
        --button-gap: 1em;
        --button-flex-direction: row;
        --button-width: fit-content;
        --button-background-color: var(--color);
        --button-color: var(--background-color);
        --button-hover-background-color: var(--color-muted);
        --button-hover-color: var(--background-color);
        --button-border-width: 0;
        --button-border-style: solid;
        --button-border-color: var(--color);
        --button-border-radius: 0;
        --button-font-size: 1em;
        --button-font-family: inherit;
        --button-line-height: inherit;
        --button-icon-size: 1em;
        --button-section-line-height: inherit;
        --button-section-flex-direction: column;
        --button-section-gap: 0.5em;
        --button-text-decoration: none;
    }

    .button {
        display: inline-flex;
        align-items: center;
        gap: var(--button-gap);
        width: var(--button-width);
        flex-direction: var(--button-flex-direction);
        padding: var(--button-padding);
        background: var(--button-background-color);
        color: var(--button-color);
        border-width: var(--button-border-width);
        border-color: var(--button-border-color);
        border-style: var(--button-border-style);
        border-radius: var(--button-border-radius);
        text-decoration: var(--button-text-decoration);
        font-family: var(--button-font-family);
        font-weight: var(--button-font-weight);
        font-size: var(--button-font-size);
        line-height: var(--button-line-height);
        cursor: pointer;
    }

    .button__section {
        display: flex;
        flex-direction: var(--button-section-flex-direction);
        line-height: var(--button-section-line-height);
        gap: var(--button-section-gap);
    }

    .button:hover {
        background: var(--button-hover-background-color);
        color: var(--button-hover-color);
    }
}
