@layer base {
    :root {
        --icon-width: 1em;
        --icon-height: 1em;
    }

    .icon {
        width: var(--icon-width);
        height: var(--icon-height);
        display: inline-block;
    }
}
