@layer base {
    :root {
        --menu-gap: 0;
        --menu-padding: 0.5em 0;

        --menu-border: unset;
        --menu-border-radius: 0;

        --menu-item-border: unset;
        --menu-border-radius: 0;

        --menu-item-gap: 0.5em;
        --menu-item-padding: 0.5em 1em;

        --menu-nested-padding-inline: 1em 0;
        --menu-nested-padding-block: 0;
        --menu-nested-marker-display: none;

        --menu-font-size: 1em;
        --menu-font-family: inherit;
        --menu-line-height: inherit;

        --menu-background-color: var(--background-color-muted);
        --menu-color: var(--color);

        --menu-item-background-color: inherit;
        --menu-item-color: inherit;
        --menu-item-hover-background-color: var(--color);
        --menu-item-hover-color: var(--background-color);

        --menu-item-hover-cursor: pointer;
        --menu-item-divider-margin-block: 0.5em;

        --menu-item-section-spaced-flex-basis: 1em;
        --menu-item-section-spaced-size: 1em;

        --menu-media-size: 1em;
        --menu-media-color: inherit;
    }

    .menu, .menu-nested {
        display: flex;
        flex-direction: column;
        list-style: none;
        background-color: var(--menu-background-color);
        color: var(--menu-color);
        border: var(--menu-border);
        border-radius: var(--menu-border-radius);
        gap: var(--menu-gap);
    }

    .menu {
        padding: var(--menu-padding);
    }

    .menu-nested {
        padding-inline: var(--menu-nested-padding-inline);
        padding-block: var(--menu-nested-padding-block);
    }

    .menu-item::marker,
    .menu-item::-webkit-details-marker {
        display: var(--menu-nested-marker-display);
    }

    .menu-item {
        display: flex;
        align-items: center;
        padding: var(--menu-item-padding);
        color: var(--menu-item-color);
        background-color: var(--menu-item-background-color);
        gap: var(--menu-item-gap);
        border: var(--menu-item-border);
        border-radius: var(--menu-item-border-radius);
    }

    .menu-item:hover {
        background-color: var(--menu-item-hover-background-color);
        color: var(--menu-item-hover-color);
        cursor: var(--menu-item-hover-cursor);
    }

    [data-menu-item-variant="base-title"]:hover,
    [data-menu-item-variant="base-divider"]:hover {
        background-color: var(--menu-background-color);
        color: var(--menu-color);
        cursor: initial;
    }

    [data-menu-item-variant="base-divider"]{
        padding: 0;
        width: 100%;
        border-bottom: 1px solid var(--color);
        margin-block: var(--menu-item-divider-margin-block);
    }

    .menu-item-section {
        display: flex;
        flex-direction: column;
    }

    [data-menu-item-section-variant="base-row"] {
        flex-direction: row;
    }

    [data-menu-item-section-variant="base-spaced"]{
        flex-basis: var(--menu-item-section-spaced-flex-basis);
    }

    [data-menu-item-section-variant="base-body"] {
        flex-grow: 1;
    }
}