@layer base {
    :root {
        --font-size-xs: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
        --font-size-s: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
        --font-size-base: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
        --font-size-l: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
        --font-size-xl: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
        --font-size-2xl: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
        --font-size-3xl: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
        --font-size-4xl: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);
        --font-size-5xl: clamp(3.3592rem, 2.7828rem + 2.5621vw, 4.7684rem);
        --font-size-6xl: clamp(4.0311rem, 3.2418rem + 3.508vw, 5.9605rem);

        --font-thin: 100;
        --font-extralight: 200;
        --font-light: 300;
        --font-normal: 400;
        --font-medium: 500;
        --font-semibold: 600;
        --font-bold: 700;
        --font-extrabold: 800;
        --font-black: 900;

        --line-height-base: 1.5;
    }

    @font-face {
        font-family: InterVariable;
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url("/asset/font/InterVariable.woff2") format("woff2");
        font-feature-settings: "ss02" 1;
    }

    @font-face {
        font-family: InterVariable;
        font-style: italic;
        font-weight: 100 900;
        font-display: swap;
        src: url("InterVariable-Italic.woff2") format("woff2");
        font-feature-settings: "ss02" 1;
    }

    body {
        font-family: InterVariable, Inter, Roboto, "Helvetica Neue",
            "Arial Nova", "Nimbus Sans", Arial, sans-serif;
    }

    p.is-content {
        font-size: var(--font-size-base);
        margin-block: var(--space-6);
        line-height: 1.5;
    }

    ul.is-content {
        font-size: var(--font-size-base);
        margin-block: var(--space-6);
    }

    li.is-content {
        font-size: var(--font-size-base);
        margin-block: var(--space-3);
    }

    h1.is-content {
        font-size: var(--font-size-4xl);
        font-weight: var(--font-bold);
        margin-block: var(--space-6);
    }

    h2.is-content {
        font-size: var(--font-size-3xl);
        font-weight: var(--font-bold);
        margin-block: var(--space-6);
    }

    h3.is-content {
        font-size: var(--font-size-2xl);
        font-weight: var(--font-bold);
        margin-block: var(--space-6);
    }

    h4.is-content {
        font-size: var(--font-size-xl);
        font-weight: var(--font-bold);
        margin-block: var(--space-6);
    }

    h5.is-content {
        font-size: var(--font-size-l);
        font-weight: var(--font-bold);
        margin-block: var(--space-6);
    }

    h6.is-content {
        font-size: var(--font-size-base);
        font-weight: var(--font-bold);
        margin-block: var(--space-6);
    }

    section.is-content {
        margin-block: var(--space-6);
    }

    .article {
        display: block;
        width: 100%;
        max-width: 50rem;
        padding-inline: var(--space-2);
        margin-inline: auto;
    }

    code.is-inline {
        color: var(--danger);
        padding: 2px;
        border-radius: 2px;
        background-color: var(--background-color-muted);
        font-size: var(--font-size-base);
    }
}
