@layer variant {
    :root {
        --button-active-transform: scale(99%);
    }
    .button:active {
        transform: var(--button-active-transform);
    }

    .button[data-button-variant="icon"] {
        --button-padding: 0.5em 0.5em;
    }

    .button[data-button-variant="primary"] {
        --button-background-color: var(--primary-color);
        --button-hover-background-color: var(--primary-color-muted);
        --button-color: var(--color);
        --button-hover-color: var(--color);
    }

    .button[data-button-variant="tiered"] {
        --button-gap: 1em;
        --button-body-gap: 0.1em;
    }

    .button[data-button-variant="tiered"] > .button-body {
        align-items: start;
    }

    .button[data-button-variant="ticket"] {
        --button-padding: 2em 2em;
        --button-body-gap: 0.5em;
        --button-gap: 2em;
        --button-icon-size: 1.5em;
    }

    .button[data-button-variant="ticket"] .button-divider {
        width: 100%;
    }

    .button[data-button-variant="top-bottom"] {
        --button-padding: 1em 1.3em;
        flex-direction: column;
        line-height: 1;
    }

    .button[data-button-variant="top-bottom"] > .button-icon {
        width: 100%;
        height: auto;
        max-height: 2em;
    }
}