@layer variant {
    :root {
        --button-active-transform: translate(1px, 1px);
        --button-border-radius: var(--border-radius);
    }

    .button {
        box-shadow: 0 4px 6px -1px var(--box-shadow-color), 0 2px 4px -2px var(--box-shadow-color);
    }

    .button:active {
        transform: var(--button-active-transform);
    }

    .button[data-button-variant="icon"] {
        --button-padding: 0.5em 0.5em;
    }

    .button[data-button-variant*="success"] {
        color: #000000;
        background-color: var(--success);
    }

    .button[data-button-variant*="warning"] {
        color: #000000;
        background-color: var(--warning);
    }

    .button[data-button-variant*="info"] {
        color: #000000;
        background-color: var(--info);
    }

    .button[data-button-variant*="danger"] {
        color: #000000;
        background-color: var(--danger);
    }

    .button[data-button-variant="tiered"] {
        --button-gap: 1em;
        --button-body-gap: 0.1em;
    }

    .button[data-button-variant="tiered"]>.button-body {
        align-items: start;
    }

    .button[data-button-variant="ticket"] {
        --button-padding: 2em 2em;
        --button-body-gap: 0.5em;
        --button-gap: 2em;
        --button-icon-size: 1.5em;
    }

    .button[data-button-variant="ticket"] .button-divider {
        width: 100%;
    }

    .button[data-button-variant="top-bottom"] {
        --button-padding: 1em 1.3em;
        flex-direction: column;
        line-height: 1;
    }

    .button[data-button-variant="top-bottom"]>.button-icon {
        width: 100%;
        height: auto;
        max-height: 2em;
    }
}