@layer variant {
    :root {
        --article-max-width: 65ch;
        --article-margin-block: 3rem;
        --article-description-font-size: var(--font-size-content-xl);
    }
    #article {
        width: 100%;
        max-width: var(--article-max-width);
        margin: auto;
        margin-block: var(--article-margin-block);
    }
}

@layer utilities {
    .article-description {
        font-size: var(--article-description-font-size);
    }
}