@layer variant {
    .trigger[data-variant="preview"] {
        padding: 0;
        overflow: hidden;
    }

    .trigger__section[data-variant="preview"] {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: var(--space-4);
    }

    .media[data-variant="preview-trigger"] {
        max-width: var(--space-9);
    }

    .text[data-variant="preview-secondary"] {
        color: var(--text-color-muted);
    }
}