@layer variant {
    .container[data-variant="contour-hero-backdrop"] {
        display: flex;
        width: 100%;
        padding-inline: var(--space-3);
        min-height: calc(100vh - var(--top-nav-height));
        background-image: repeating-linear-gradient(
            315deg,
            var(--border-color) 0,
            var(--border-color) 1px,
            transparent 0,
            transparent 50%
        );
        background-size: 8px 8px;
        justify-content: center;
        align-items: start;
        background-color: var(--background);
    }

    .container[data-variant="contour-hero-panel"] {
        flex: 1;
        display: block;
        max-width: 60rem;
        margin-inline: auto;
        margin-block: calc(1.5 * var(--font-size-title-1));
        padding-inline: var(--space-4);
        padding-block: var(--space-8);
        border: var(--border-width-1) solid var(--border-color);
        border-radius: var(--border-radius-2);
        background-color: var(--background);
    }

    .container[data-variant="contour-hero-prose"] {
        max-width: 50rem;
        margin-inline: auto;
    }

    .text[data-for="landing-hero"] {
        font-size: var(--font-size-title-1);
        line-height: 1.3;
        font-weight: var(--font-medium);
    }

    .text[data-for="landing-subheading"] {
        margin-block-start: var(--space-5);
        font-size: var(--font-size-prose-large);
        color: var(--text-color-muted);
        max-width: 40rem;
        line-height: 1.5;
    }

    .trigger[data-for="landing-hero"] {
        margin-block-start: var(--space-8);
        font-size: var(--font-size-prose-large);
        color: var(--text-color-base-inverted);
        background-color: var(--background-inverted);
        border: none;
    }

    .trigger[data-for="landing-hero"]:hover {
        background-color: var(--background-muted-inverted);
    }

    .container[data-variant="contour-hero-control"] {
        display: flex;
        gap: 0.5rem;
    }

    .text[data-for="landing-hero-logo"] {
        font-family: "RecursiveMonoLinearExtraBold";
        padding-block: var(--space);
        padding-inline: var(--space-4);
        border-radius: 5px;
        color: var(--text-color-base-inverted);
        background-color: var(--background-inverted);
        font-size: inherit;
        display: inline-block;
        line-height: 1;
    }
}
