@layer variant {
    .notice[data-variant="action-segmented"] {
        overflow: hidden;
        padding: 0;
        padding-inline-start: var(--space-4);
    }

    .notice__section[data-variant="action-segmented"] {
        flex-direction: column;
        padding-block: var(--space-4);
        gap: var(--space-2);
    }

    .notice__section[data-variant="action-segmented-control"] {
        align-self: stretch;
        align-items: center;
        flex-direction: column;
        border-inline-start: var(--border-width-1) solid var(--border-color);
    }

    .trigger[data-variant="notice-segmented-action"] {
        flex: 1;
        align-self: stretch;
        align-items: center;
        justify-content: center;
        border: none;
        border-block-start: var(--border-width-1) solid var(--border-color);
        border-radius: 0;
    }

    .trigger[data-variant="notice-segmented-action"]:first-child {
        border-block-start: none;
    }

    .media[data-variant="notice-avatar"] {
        width: var(--space-7);
        height: var(--space-7);
        border-radius: 999px;
    }
}