@layer variant {
    .notice__section[data-variant="tiered"] {
        flex-direction: column;
        gap: var(--space-2);
    }

    .text[data-variant="notice-primary"] {
        font-weight: var(--font-bold);
    }

    .text[data-variant="notice-secondary"] {
        color: var(--text-color-muted);
    }

    .notice__close[data-variant="tiered"],
    .notice__symbol[data-variant="tiered"] {
        align-self: flex-start;
    }

    .notice__section[data-variant="tiered-control"] {
        gap: var(--space-3);
        justify-content: flex-start;
        align-items: flex-start;
        margin-block-start: var(--space-3);
    }
}
