@layer variant {
    :root {
        --token-cmnt: #6e7781;
        --token-deleted: #cf222e;
        --token-err: #cf222e;
        --token-kwd: #cf222e;
        --token-class: #953800;
        --token-type: #0550ae;
        --token-oper: #0550ae;
        --token-num: #0550ae;
        --token-section: #0550ae;
        --token-var: #0550ae;
        --token-bool: #0550ae;
        --token-insert: #0a3069;
        --token-str: #0a3069;
        --token-func: #8250df;
    }

    .typography[data-variant="token-cmnt"] {
        color: var(--token-cmnt);
    }

    .typography[data-variant="token-deleted"] {
        color: var(--token-deleted);
    }

    .typography[data-variant="token-err"] {
        color: var(--token-err);
    }

    .typography[data-variant="token-kwd"] {
        color: var(--token-kwd);
    }

    .typography[data-variant="token-class"] {
        color: var(--token-class);
    }

    .typography[data-variant="token-type"] {
        color: var(--token-type);
    }

    .typography[data-variant="token-oper"] {
        color: var(--token-oper);
    }

    .typography[data-variant="token-num"] {
        color: var(--token-num);
    }

    .typography[data-variant="token-section"] {
        color: var(--token-section);
    }

    .typography[data-variant="token-var"] {
        color: var(--token-var);
    }

    .typography[data-variant="token-bool"] {
        color: var(--token-bool);
    }

    .typography[data-variant="token-insert"] {
        color: var(--token-insert);
    }

    .typography[data-variant="token-str"] {
        color: var(--token-str);
    }

    .typography[data-variant="token-func"] {
        color: var(--token-func);
    }
}