@layer variant {
    .menu[data-variant="nested"] {
        margin-inline-start: var(--space-4);
        position: relative;
        padding-block: 0;
    }

    .menu[data-variant="nested"]::before {
        display: block;
        width: 1px;
        height: 100%;
        content: " ";
        top: 0;
        position: absolute;
        background-color: var(--border-color);
    }
}