@layer pattern {
    .container {
        display: block;
        background: var(--container-background, transparent);
        border-block: var(--container-border-block, none);
        border-inline: var(--container-border-inline, none);
        border-radius: var(--container-border-radius, 0);
        box-shadow: var(--container-box-shadow, none);
        padding-block: var(--container-padding-block, 0);
        padding-inline: var(--container-padding-inline, 0);
        margin-block: var(--container-margin-block, 0);
        margin-inline: var(--container-margin-inline, 0);
    }
}
