@layer pattern {
    .list {
        background: var(--list-background, var(--background-color-1));
        padding-block: var(--list-padding-block, var(--space-1));
        padding-inline: var(--list-padding-inline, 0);
        margin-block: var(--list-margin-block, 0);
        margin-inline: var(--list-margin-inline, 0);
        border-radius: var(--list-border-radius, 5px);
        border-block: var(--list-border-block, 1px solid var(--background-color-3));
        border-inline: var(--list-border-inline, 1px solid var(--background-color-3));

        color: var(--list-color, var(--color-1));
        text-decoration: var(--list-text-decoration, inherit);
        text-overflow: var(--list-text-overflow, inherit);
        font-size: var(--list-font-size, var(--font-size-base));
        font-weight: var(--list-font-weight, var(--font-normal));
        line-height: var(--list-line-height, 1);
    }

    .list__item {
        display: grid;
        align-items: center;
        background: var(--list-item-background, transparent);
        padding-block: var(--list-item-padding-block, var(--space-4));
        padding-inline: var(--list-item-padding-inline, var(--space-4));
        margin-block: var(--list-item-margin-block, 0);
        margin-inline: var(--list-item-margin-inline, 0);
        border-radius: var(--list-item-border-radius, 0);
        border-block: var(--list-item-border-block, none);
        border-inline: var(--list-item-border-inline, none);
    }

    .list__section {
        display: flex;
    }

    .list__item:hover {
        color: var(--list-item-hover-color, inherit);
        background: var(--list-item-hover-background, transparent);
    }
}
